<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541151345398-5t6sec5tgoqcufm6de0ttj5e976abia4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541151345398-5t6sec5tgoqcufm6de0ttj5e976abia4</string>
	<key>API_KEY</key>
	<string>AIzaSyAu_1r66blO-MFC7SCP_Yfnr6RMJbEC2sg</string>
	<key>GCM_SENDER_ID</key>
	<string>541151345398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>software.eggzotic.flutterPersistentCloud</string>
	<key>PROJECT_ID</key>
	<string>flutterpersistentcloud</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpersistentcloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541151345398:ios:6f250c92c785ebd91e0ad7</string>
	<key>DATABASE_URL</key>
	<string>https://flutterpersistentcloud.firebaseio.com</string>
</dict>
</plist>